SUPABASE_URL=https://nhjlboivjewvzhoogaau.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oamxib2l2amV3dnpob29nYWF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM1NDg1NywiZXhwIjoyMDk0OTMwODU3fQ.YEIqCYeRX6x4CUZwokCY-pL-0u2l8vRnQ3h99ciV2m0
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oamxib2l2amV3dnpob29nYWF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNTQ4NTcsImV4cCI6MjA5NDkzMDg1N30.pMkH8ifkg8GHnM6iRk45Z2U6lJDTquGE1h6v38kTZeo
REDIS_URL=redis://default:XFpvigWWxgxlhkxLZlCSFAHpQwzVBGuy@kodama.proxy.rlwy.net:48612
RESEND_API_KEY=re_HPxn5eSm_6WmeTY4Ba4L9Qrv2PwoBnXhH
FRONTEND_URL=https://intel-frontend.up.railway.app
PORT=3000
TZ=Africa/Kigali
NODE_ENV=development
